<div id="spell_dialog">
  <div id="spell_content"></div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#spell_dialog").dialog({width: "600px", autoOpen: false, dialogClass: 'fixed-dialog'});
  });
</script>