
<% @spells.get_levels.each do |level| %>

  <% spells = @spells.get_spells_by_level(level, true) %>

  <div class="level_header"><h4>Level <%= level %></h4></div>

  <% spells.each do |s| %>
    <%= render partial: 'libraries/spell_sheet/spell', locals: {spell: s} %>
  <% end %>
  <br class="clear" />
<% end %>

<% @spells.get_levels.each do |level| %>

  <% spells = @spells.get_spells_by_level(level, false) %>

  <div class="level_header"><h4>Level <%= level %></h4></div>

  <% spells.each do |s| %>
    <%= render partial: 'libraries/spell_sheet/spell', locals: {spell: s} %>
  <% end %>
  <br class="clear" />
<% end %>