
<%= link_to "New Spell", new_spell_path %>
<br /><br/>

<table>
<tr>
  <td>Name</td>
</tr>
<% @spells.each do |spell| %>

  <tr>
    <td><%= link_to spell.name, spell %></td>
    <td><%= link_to 'Edit', edit_spell_path(spell) %></td>
  </tr>

<% end %>
</table>
