// Place all the styles related to the Libraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.memorization_block {
  border-top: 2px solid black;
  padding-top: 5px;
}

.memorization_spell {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12pt;
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px;
  float: left;
  width: 350px;
  height: 50px;
  margin: 4px;
  overflow: hidden;
}

.memorization_spell input[type='checkbox'] {
  padding: 0px;
  margin: 0px;
}

.memorization_spell .spell_description {
  font-style: italic;
  font-size: 75%;
  line-height: normal;
}

.memorization_spell .spell_components {
  font-size: 80%;
}

.memorization_spell .spell_school {
  font-size: 75%;
}